
.lgimage{
    margin:-2% 0 -2% 0;
    width: 25%;

}
.navbar-brand{
    text-align: left;
    /*margin-left: -30%;*/
    /*width: 30%;*/
}
.container{
    max-width: 80% !important;
}
@media (min-width: 0px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        flex-basis: auto;
    }
}
/*.navbar{*/
/*    display: inline-block !important;*/
/*}*/
